DISCORD_TOKEN=your_bot_token_here
DISCORD_PREFIX=!

DB_DIALECT=sqlite
DB_STORAGE=database.sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=discord
DB_USERNAME=root
DB_PASSWORD=

WEBHOOK_ERROR_URL=
WEBHOOK_JOIN_GUILD_URL=
WEBHOOK_LEAVE_GUILD_URL=
WEBHOOK_READY_URL=
WEBHOOK_SLASH_COMMAND_URL=
WEBHOOK_PREFIX_COMMAND_URL=
